.type-4 {
  overflow: hidden;
}
.type-4 .khung {
  text-align: center;
}
.type-4 .container {
  margin-top: 64px;
  border-bottom: #ccc solid 1px;
  padding-bottom: 64px;
  margin-bottom: 64px;
}
.type-4 h3 {
  font-weight: bolder;
}
.type-4 .chu {
  color: #7f7f7f;
  font-size: 15px;
  text-align: center;
}
