
.type-module1 .navbar-default {
  padding-top: 4px;
  border:none;
  background-color: #fff;
}
.type-module1 .navbar-default .navbar-nav{
  position: relative;
  padding: 1.5% 0;
  list-style-type: none;
  float:right;
}
.type-module1 .navbar-default .navbar-nav>li:hover>ul{
  opacity:1;
}
.type-module1 .navbar-default .navbar-nav>li>ul{
    padding-right: 50px;
    padding-left: 15px;
    position: absolute;
    top: 50px;
    list-style: none;
    background-color: #e0e0e0;
    opacity: 0;
    z-index: 99; 
}
.type-module1 .navbar-default .navbar-nav>li>ul>li{
    width: 200%;
    padding-bottom: 5px;
}
.type-module1 .navbar-default .navbar-nav>li>ul>li>a{
  color:#000;
  padding: 0px 50px 5px 0;
}
.type-module1 .navbar-default .navbar-nav>li>ul>li>a:hover{
  color: #000;
  text-decoration: none;
}
.type-module1 .navbar-default .navbar-nav>li>a {
  color: #404040;
  cursor:pointer;
  padding-right: 10px;
  font-weight: normal;
  background-color: #fff;
}
.type-module1 .navbar-default .navbar-nav>li>a:hover {
  color: #404040;
  cursor:pointer;
  text-decoration: none;
  padding-right: 10px;
  font-weight: normal;
  background-color: #fff;
}
.type-module1 .cart-customlocation svg {
  max-width: 17px;
  height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.type-module1 .navbar-brand {
  height: auto;
  width: 200px;
}
.type-module1 .dropdown {
  position: relative;
  display: inline-block;
}
.type-module1 .dropdown-toggle {
  padding: 16px;
  border: none;
}
.type-module1 .dropdown-menu {
  display: none;
  border: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
}
.type-module1 .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.type-module1 .dropdown-menu a:hover {
  background-color: #fff;
  color: #333;
}
.type-module1 .dropdown:hover .dropdown-menu {
  display: block;
}
.type-module1 .dropdown:hover .dropdown-toggle {
  background-color: #fff;
  color: #333;
}
.type-module1 .cart-header {
  margin-top: -5px;
  color: #000;
}
.type-module1 .cart-header a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.type-module1 .cart-icon-number {
  margin-bottom: 10px;
}
