.type-23 .login {
  font-family: Lato, sans-serif, 'helvetica neue', helvetica, arial, verdana;
  font-size: 15px;
}
.type-23 .entry-title {
  text-align: center;
  margin-top: 135px;
  font-weight: bold;
}
.type-23 .line {
  background-color: rgba(0,0,0,0.2);
  display: block;
  content: ' ';
  height: 3px;
  width: 80px;
  margin: 10px auto;
}
.type-23 .entry-login {
  text-align: center;
}
.type-23 .form-control {
  width: 41%;
  margin-left: 342px;
}
.type-23 .button {
  background: #FAB526;
  padding: 10px 30px;
  line-height: 150%;
  transition: all 0.5s ease;
  font-weight: 900;
  color: #fff;
  border-radius: 8px;
  border: none;
}
.type-23 .entry-login h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 55px;
  margin-bottom: 32px;
}
.type-23 .required {
  color: red;
}
.type-23 label {
  margin-bottom: 10px;
  font-weight: bold;
}
.type-23 .form-group {
  margin-bottom: 30px;
}
.type-23 .lost-pass a {
  text-decoration: none;
  color: #FAB526;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .type-23 .form-group .form-control {
    margin-left: 250px;
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .type-23 .form-group .form-control {
    margin-left: 150px;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .type-23 .form-group .form-control {
    margin-left: 125px;
    width: 60%;
  }
}
@media only screen and (max-width: 320px) {
  .type-23 .form-group .form-control {
    margin-left: 70px;
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .type-23 .form-group .form-control {
    margin-left: 40px;
    width: 80%;
  }
}
