.type-15 .post-blog img {
  width: 230px;
  height: 92px;
}
.type-15 .post-blog {
  box-shadow: 10px 5px 10px rgba(0,0,0,0.09);
  margin: 15.5px;
}
.type-15 .blog-2 {
  margin-left: -43px;
}
.type-15 .blog-3 {
  margin-left: -43px;
}
.type-15 .entry-title {
  margin-top: 16px;
}
.type-15 .entry-title a {
  color: #000052;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 26px;
}
.type-15 .entry-day {
  padding-bottom: 40px;
  margin-left: 26px;
  color: #FAB526;
  font-weight: bold;
}
.type-15 .title h3 {
  font-weight: bold;
  margin-left: 301px;
}
@media only screen and (max-width: 1024px) {
  .type-15 .post-blog img {
    width: 180px;
  }
  .type-15 .title h3 {
    margin-left: 230px;
    font-size: 23px;
  }
  .type-15 .entry-day {
    margin-left: 20px;
  }
  .type-15 .entry-title a {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .type-15 .post-blog img {
    width: 422px;
    height: 153px;
  }
  .type-15 .blog-2 {
    margin-left: 0px;
    margin-top: -267px;
  }
  .type-15 .blog-3 {
    margin-left: 0px;
    margin-top: -267px;
  }
  .type-15 .post-blog {
    margin: 277.5px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .type-15 .entry-title {
    display: flex;
    justify-content: center;
  }
  .type-15 .entry-day {
    display: flex;
    justify-content: center;
  }
  .type-15 .title h3 {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 320px) {
  .type-15 .post-blog img {
    width: 283px;
    height: 102px;
  }
  .type-15 .post-blog {
    margin-left: -5px;
  }
  .type-15 .entry-title {
    margin-left: 130px;
  }
  .type-15 .entry-day {
    margin-left: 130px;
  }
  .type-15 .title h3 {
    margin-left: 10px;
  }
}
