@import "../../var/var.less";
.type-21 .tile-cart {
  margin: 50px 0;
}
.type-21 .tile-cart h1 {
  text-align: center;
}
.type-21 .tile-cart h1::after {
  display: block;
  content: ' ';
  height: 3px;
  width: 60px;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.2);
  box-sizing: inherit;
}
.type-21 .product-remove a {
  display: block;
  color: #ab322e !important;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  border-radius: 100%;
  font-weight: 700 !important;
  border: 0;
}
.type-21 .product-remove a:hover {
  background: #ab322e !important;
  color: #fff !important;
}
.type-21 .product-thumbnail img {
  height: auto;
  width: 32px;
}
.type-21 .product-quantity .quantity .input-text {
  border-radius: 3px;
  width: 4em;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  padding: 8px;
  background: #fff;
  color: #666;
}
.type-21 .table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 9px 12px;
  vertical-align: middle;
  line-height: 1.5em;
}
.type-21 .actions #coupon_code {
  min-width: 130px;
  text-align: center;
  border: 2px dashed #ffb31f;
  background: rgba(0,0,0,0);
  font-weight: 600;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
}
.type-21 .actions>.coupon>button.button {
  background: #ffb31f;
  color: #fff;
  margin-left: -10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background: #f5ba14;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
.type-21 .button {
  display: inline-block;
}
.type-21 .actions>button.button {
  color: #515151;
  cursor: not-allowed;
  padding: .618em 1em;
  font-size: 100%;
  border: none;
  float: right;
}
.type-21 .proccess-checkout button {
  background: #ffb31f;
  color: #fff;
  margin: 20px auto;
  padding-bottom: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background: #f5ba14;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
.type-21 .cart-collaterals tr {
  border-top: 1px solid rgba(0,0,0,0.1);
  line-height: 1.5em;
}
