.type-9 {
  background: #eee;
  overflow: hidden;
}
.type-9 .khung {
  background: white;
  padding-bottom: 25px;
}
.type-9 .khung1 {
  background: white;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 21px;
}
.type-9 .container {
  margin-top: 40px;
}
.type-9 img {
  width: 100%;
}
.type-9 h3 {
  font-weight: bold;
}
.type-9 h5 {
  font-weight: bold;
  color: #fab526;
  font-style: italic;
}
.type-9 p {
  color: #949494;
}
.type-9 .ndung {
  margin-left: 25px;
  margin-right: 25px;
}
.type-9 ul a {
  margin: 3px;
  color: #fab526;
}
