.type-16 {
  width: 100%;
  .container {
    padding: 0;
  }
  .home-inner {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    margin: 20px 0px 25px 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    width: 100%;
    float: left;
    .share-link {
      font-weight: 600;
      margin-top: 5px;
      color: #fff;
      text-align: center;
      padding: 10px;
      border-radius: 2px;
      margin-right: 5px;
      cursor: pointer;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
      display: inline-block;
      text-decoration: none;
    }
    .twitter {
      background-color: #00aced;
      &:hover {
        background-color: #0084b4;
      }
    }
    .facebook {
      background-color: #3b5997;
      &:hover {
        background-color: #2d4372;
      }
    }
    .linkedin {
      background-color: #0074a1;
      &:hover {
        background-color: #006288;
      }
    }
    .pinterest {
      background-color: #bd081c;
      &:hover {
        background-color: #a00818;
      }
    }
    img {
      width: 17px;
      margin-left: 9px;
      vertical-align: middle;
      
      height: auto;
    }
  }
  .footer {
    .cat-links {
      a {
        border: 1px solid #fab526;
        padding: 5px 10px;
        margin: 3px;
        display: inline-block;
        font-size: 13px;
        color: #fab526;
        border-radius: 3px;
      }
    }
  }
  .separator {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
  }
  .about{
    font-family: 'lato', helvetica, 'helvetica neue', arial, sans-serif;
      .row{
          .img-about{
              img{
                border-radius: 100%;
              }
          }
          .about-content{
              h3{
                  color: #000000;
                  font-size: 18px;
              }
              p{
                font-size: 17px;
                color: #5d5d5d;
              }
          }
      }
  }
}
@media only screen and (max-width: 500px) {
  .type-16 {
    .home-inner {
      .share-link {
        width: 100%;
      }
    }
    .about{
        .img-about{
            width: 100%;
        }
    }
  }
}
