.type-17 .container {
  margin-left: 0;
}
.type-17 .page {
  margin-left: 114px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif, "helvetica neue", helvetica, arial, verdana;
}
.type-17 .page .entry-title {
  font-weight: bold;
}
.type-17 .line {
  margin-top: 20px;
  color: #fab526;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.type-17 .author {
  text-decoration: none;
  color: #fab526;
}
.type-17 .entry-content {
  margin-left: 114px;
  margin-right: 344px;
  font-size: 1em;
}
.type-17 .img {
  width: 721px;
  margin-bottom: 10px;
}
.type-17 .post-images {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .type-17 .full-post {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .type-17 .full-post {
    width: 850px;
  }
}
