.type-19 .head {
  text-align: center;
}
.type-19 .head h3 {
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 40px;
  font-style: normal;
  line-height: 140%;
  font-weight: 700;
  font-family: 'lato', 'lato', helvetica, 'helvetica neue', arial, sans-serif;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.type-19 .head span {
  margin-bottom: 1rem;
  line-height: 170%;
  font-family: 'Source Sans Pro';
  font-size: 17px;
  font-weight: 400;
  color: #424242;
}
.type-19 .foot label {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}
.type-19 .foot textarea {
  width: 100%;
  height: auto;
  padding: 30px 30px 0px 30px;
  background-color: #eaeaea;
  border: 0px solid #fff;
  box-shadow: 0px 0px 0px;
}
.type-19 .foot .inputname {
  background-color: #eaeaea;
  border: 0px solid #fff;
  box-shadow: 0px 0px 0px;
  height: 40px;
  width: 100%;
}
.type-19 .foot .name {
  text-align: center;
  margin-top: 2rem;
}
.type-19 .foot .labelname {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.8;
}
.type-19 .foot p {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.type-19 .foot .submit {
  background: #f5ba14;
  font-weight: 600;
  font-size: 15px;
  border: 0px solid #fff;
  outline: none;
  padding: 15px 25px;
  border-radius: 3px;
  color: #fff;
}
