
.type-5 {
    overflow: hidden;
    text-align: center;
    h2{
        font-weight: bold;
    }
    h4{
        font-weight: bold;
    }
    img{
        width: 100%;
    }
    .tieude{
        color: #aaaaaa;
    }
}
