
.type-13 {
    overflow: hidden;
    text-align: center;
    h2{
        font-weight: bold;
        text-align: left;
        padding-left: 12px;
    }
    h4{
        font-weight: bold;
    }
    img{
        width: 100%;
    }
    a.button {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0 !important;
        text-decoration: none;  
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
        background: #f5ba14;
        border: 1px solid #f5ba14;
        font-family: "Oswald"; 
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 83px;
        margin-right: 11px;
    }
    .hinh img:hover {
        opacity: 0.9;
        cursor: pointer;    
    }
    .khung {
        width: 100%;
        margin-bottom: 8px;
        overflow: hidden;
        position: relative;
        &:hover{
            .button{
                opacity:1 !important;
            }
        }
    }
}
